body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 12px;
  line-height: 1.33;
}

img {
  display: block;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logotype {
  margin-right: 76px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-name {
  color: #2e2f42;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-item {
  padding-top: 40px;
  padding-left: 40px;
}

.address-item {
  display: flex;
  gap: 40px;
}

.order-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.link-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.link-studio:hover,
.link-studio:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.email {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.email:hover,
.email:focus {
  color: #404bbf;
}

.title {
  background-color: #2e2f42;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
}

.people {
  background-color: #ffffff;
}

footer {
  background-color: #2e2f42;
}

.logo-name-down {
  color: #f4f4fd;
}

.down {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
